---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
---

<Layout title="Tina Food - Contact.">
    <main class="bg-gray-100">
        <Header/>
    </main>
</Layout>

